<% content_for(:title) { "#{@gym.name} | Haearn" } %>

<div class="container py-4">
  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Gyms", gyms_path %></li>
      <li class="breadcrumb-item active"><%= @gym.name %></li>
    </ol>
  </nav>

  <!-- Gym Header -->
  <%= turbo_frame_tag "gym-header" do %>
    <%= render partial: "gyms/header", locals: { gym: @gym } %>
  <% end %>

  <%= render "gyms/machines_panel",
      gym: @gym,
      machines: @machines,
      retired_machines: @retired_machines,
      new_machine: @new_machine %>
</div>
