<%= turbo_frame_tag set, data: { controller: "inline-set-edit", add_set_toggle_target: "editingForm" } do %>
  <% input_unit = input_weight_unit_for(workout_exercise) %>
  <%= form_with model: set, 
      url: workout_workout_exercise_exercise_set_path(workout, workout_exercise, set),
      method: :patch,
      class: "edit-set-form p-2 bg-dark rounded",
      data: { turbo_frame: dom_id(set) } do |form| %>
    <% weight_value = set.weight_kg ? input_weight_value_for(set.weight_kg, workout_exercise) : nil %>

    <%# Row 1: Primary fields %>
    <div class="row g-2 align-items-end">
      <%= render "exercise_sets/primary_fields",
          form: form,
          workout_exercise: workout_exercise,
          input_unit: input_unit,
          weight_value: weight_value,
          leading_value: index %>
    </div>

    <%# Row 2: Secondary fields %>
    <div class="row g-2 align-items-center mt-1">
      <div class="col-1"></div>

      <%= render "exercise_sets/rpe_rir_fields", form: form %>
      <%= render "exercise_sets/warmup_amrap_fields", form: form, compact: true %>
    </div>

    <%# Row 3: Set type and Tempo %>
    <div class="row g-2 align-items-center mt-1">
      <div class="col-1"></div>
      <%= render "exercise_sets/set_type_field", form: form %>
      <%= render "exercise_sets/tempo_fields", form: form, compact: true %>
    </div>

    <%= render "exercise_sets/tracking_fields",
        form: form,
        input_unit: input_unit,
        compact: true %>

    <%# Actions %>
    <div class="d-flex gap-2 justify-content-end mt-2">
      <%= form.submit "Save", class: "btn btn-primary btn-sm" %>
      <%= link_to "Cancel", workout_path(workout), class: "btn btn-outline-secondary btn-sm", data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
